body {
    margin: 0;
}


.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: radial-gradient(circle at 30% 50%,rgb(168, 163, 163) 20%,rgb(191, 188, 188) 40%,rgb(231, 222, 222) 60%, rgb(255, 255, 255)70%, transparent );
}


#selector {
    height: 30%;
    width: 40%;
    background-color: #CDCCD0;
    border-radius: 20px;
    z-index: 1;
}
#selector p {
    margin-left: 10px;
    color: #4a3945;
    font-size: larger;
}
.button_wrap {
    height: 20%;
    width: 60%;
    display: flex;
    justify-content: space-between;
    padding-left: 20%;
    padding-right: 20%;
    margin-top: 20%;
}

#business {
    height: 100%;
    width: 40%;
    background-color: rgb(207, 45, 112);
    color: #ffffff;
    font-size: medium;
    border: none;
    border-radius: 20px;
}
#internet {
    height: 100%;
    width: 40%;
    background-color: rgb(207, 45, 112);
    color: #ffffff;
    font-size: medium;
    border: none;
    border-radius: 20px;
}
   
#hamnav {
    width: 100%;
    height: 8%;
    background-color: #000000;
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: 1fr 12fr 1fr;
}

.icons{
    padding-top: 10px;
    width: 30px;
    height: 30px;
    animation: nav-down 1s forwards;
}

#icon_1 {
    padding-left: 10%;
}
#icon_2 {
    padding-left: 96%;
}
#icon_3 {
    padding-left: 15%;
}


@keyframes nav-down {
    0% {
        transform: translate(0, -50px);
    }
}

.chat-container {
    height: 80vh;
    width: 80vw;
    background-color: #343541;
    position: absolute;
    top: 12vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 35px;
    overflow: hidden;
    box-shadow: 0px 0px 5px black;
    opacity: 0.9;
}

.chat-header {
    background-color: #343541;
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #D4D1D3;
    border-bottom: #2E2F37 solid 1.5px;
}


/* 渲染对话框 */
.chat-messages {
    width: 100%;
    height: 80%;
}

.user-message-container {
    width: 100%;
    border-bottom: solid 1.5px #2E2F37;
    display: flex;
}

.user-avatar {
    width: 30px;
    height: 30px;
    margin: 24px 0 20px 30px;
}
.user-message {
    margin: 0 0 20px 0;
    padding: 24px 0px 0 20px;
    width: 70%;
    font-size: large;
    line-height: 1.5;
    color: #ADABB5;
}

.chatgpt-message-container {
    width: 98%;
    background-color: #434654;
    display: flex;
}

.chatgpt-avatar {
    width: 30px;
    height: 30px;
    margin: 24px 0 20px 30px;
}
.chatgpt-message {
    margin: 24px 0 30px 20px;
    color: #CDCCD0;
    font-size: large;
    line-height: 1.5;
}
.title_wrap {
    display: inline-block;
}
.title {
    color: #CDCCD0;
    font-size: large;
    white-space: nowrap;
}
.magnify {
    animation: magnify 2s forwards;
    display: inline-block;
}



@keyframes magnify {
    to {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2em;
    }
}

.cursor-container {
    width: 3%;
    height: 5%;
    position: absolute;
}

.chat-input {
    position: absolute;
    bottom: 3%;
    height: 13%;
    width: 80%;
    display: flex;
    justify-content: center;
    background-color: #40414F;
    border-radius: 20px;
    border: 1.5px solid #2E2F37;
}
.input-message {
    width: 70%;
    height: 9%;
    position: absolute;
    bottom: 35%; 
    left: 5%;
    color: #838597;
}
.send-button {
    position: absolute; 
    bottom: 28%; 
    left: 90%;
    height: 50%;
    width: 7%;
    background-color: #40414F;
    border: none;
}
.send-button img {
    height: 100%;
    width: 100%;
}
.flash {
    animation: flash 1s forwards;
}

.scroll {
    background-color: rgba(0,0,0,0);
    border: none;
    position: absolute;
    bottom: 10%;
    left: 93%;
    width: 4%;
    height: 6%;
}

.scroll img {
    width: 100%;
    height: 100%;
}

.dots {
    width: 4%;
    height: 6%;
    position: absolute;
    bottom: 16%;
    left: 93%;
}
.dot_1 {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #D81818;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0);
}
.dot_2 {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #D81818;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, 0);
}

#cursor {
    width: 5%;
    height: 50%;
    position: absolute; 
    top: -30%;
    left: 90%;
}
.cursor {
    animation: move 1s infinite forwards;
    animation-iteration-count: 1; 
}

@keyframes move {
    85% {
        top: 45%;
        left: 3%;
        filter: brightness(1);
    }
    88% {
        top: 45%;
        left: 3%;
        filter: brightness(0.5);
    }
    91% {
        top: 45%;
        left: 3%;
        fliter: brightness(1);
    }
    100% {
        top: 75%;
        left: 3%;
        fliter: brightness(1);
    } 
}

@keyframes flash {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}

.slide {
    animation: slide 1s forwards;
}

@keyframes slide {
    to {
        transform: translate(0, 0);
    }
}

.map {
    width: 100vw;
    height: 100vh;
    position: relative;
}
#area {
    width: 100%;
    text-align: center;
}
#company {
    width: 100%;
    text-align: center;
    white-space: pre-line;
}

#svg-object {
    width: 100%;
    height: 100%;
}

.card {
    height: 50%;
    width: 30%;
    position: absolute;
    top: 25%;
    right: 5%;
    background-color: #e8e9e3;
    border-radius: 30px;
    border: none;
    box-shadow: 0 0 8px rgb(28, 28, 28);
    transform: translate(0, 50px);
    animation: showup 0.3s forwards;
}
.test {
    height: 50px;
    width: 100px;
    background-color: #a00a78;
    position: absolute;
    top: 0;
}
@keyframes showup {
    to {
        transform: translate(0, 0);
    }
}

.intermediary_message_container {
    position: relative;
    width: 100%;
    background-color: #241078;
    display: flex;
}

.intermediary_avatar {
    width: 30px;
    height: 30px;
    margin: 20px 0 20px 5%;
}
.intermediary_message {
    margin: 22px 5% 22px 3%;
}

.student_message_container {
    position: relative;
    width: 100%;
    background-color: #a00a78;
    display: flex;
}
.student_avatar {
    width: 30px;
    height: 30px;
    margin: 20px 0 20px 5%;
}

.student_message {
    margin: 22px 5% 22px 3%;
}

.pre_slide {
    transform: translate(0, 300px);
}

.reality_virture {
    width: 100vw;
    height: 297vh;
    position: relative;
}

#reature_background {
    width: 100%;
    height: 100%;
}

#reality_charactor {
    width: 100px;
    height: 100px;
    position: absolute;
    right: calc(100vw / 3);
    top: 100vh;
    transform: translate(50%, -100%);
    z-index: 20;
}