* {
    box-sizing: border-box;
}

body {
    margin: 0;
}
@font-face {
    font-family: 'Zhimingxing';
    src: url("font.ttf");
}

.container {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #222224;
}

.fix {
    position: fixed;
    bottom: 0;
    left: 0;
}
.fix_plus{
    position: fixed;
    top: 0;
    left: 0;
}


/* 模糊背景 */
.blur_wrap {
    width: 100%;
    height: 100%;
}
.blur {
    filter: blur(20px);
}


/* 专业选择 */
#selector {
    width: 50%;
    position: absolute;
    top: 0;
    background-color: rgba(30, 31, 36, 0.6);
    /* background: radial-gradient(circle, rgba(245, 108, 126, 0.2) 30%, rgba(202, 90, 105, 0.3) 60%, rgba(103, 42, 50, 0.4) 80%, rgba(107, 67, 74, 0.6) 90%); */
    border-radius: 0 0 30px 30px;
    box-shadow: 0 0 5px #939497;
    z-index: 2;
}
#selector p {
    margin-left: 10px;
    margin-top: 0;
    padding-top: 10%;
    color: #bbbdc5;
    font-size: larger;
}
#button_wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 20%;
    margin-bottom: 20%;
}
.selector_button {
    height: 50px;
    width: 40%;
    background-color: #a1aaa9;
    color: #d3d4d8;
    font-size: medium;
    border: none;
    border-radius: 20px;
}
 
/* 导航 */
#hamnav {
    width: 100%;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: 1fr 12fr 1fr;
    /* border: solid 1px; */
    /* border-image: linear-gradient(to left, #2d2a2a, #898b89); 
    border-image-slice: 0 0 100 0;*/
}
.icons{
    margin-top: 10px;
    width: 60px;
    height: 60px;
    transform: translate(0, -50px);
}
@media screen and (min-width: 500px) {
    .icons {
        width: 30px;
        height: 30px;  
    } 
}
.down {
    animation: down 1s forwards;
}
@keyframes down {
    to {
        transform: translate(0, 0); 
    }
}
#icon_1 {
    margin-left: 10%;
}
#icon_2 {
    margin-left: 96%;
}
#icon_3 {
    margin-left: 15%;
}

/* gpt页面 */
.chat-container {
    height: 80vh;
    width: 80vw;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*background: linear-gradient(rgba(255, 255, 255, 0.133), transparent);*/
    background-color: #6F7279;
    background: linear-gradient(to right,#6F7279, #c4c0c1 );
    border: solid 1px #8a8a8d;
    border-radius: 35px;
    overflow: hidden;
    box-shadow: 0px 0px 5px rgb(151, 149, 149);
    opacity: 0.9;
    margin: 150px 10vw 0 10vw;
}
#after_title_blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 200vh;
    
}
.after_title_blur {
    
    animation: blur forwards 1s;
    
}
@keyframes blur {
    to {
        background-color: rgb(94, 94, 95);
        filter: blur(200px);
    }
}
@media screen and (min-width: 400px) {
    .chat-container {
        margin: 50px 10vw 0 10vw;
    }
}

.chat-header {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right,#6F7279, #c4c0c1 );
    font-size: 4em;
    color: #D4D1D3;
    border-bottom: #545458 solid 1.5px;
}

@media screen and (min-width: 500px) {
    .chat-header {
        font-size: 1em;
    }
}


/* 渲染对话框 */
.chat-messages {
    width: 110%;
    height: 70%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.user-message-container {
    width: 100%;
    border-bottom: solid 1.5px #9e9ea0;
    display: flex;
    margin-left: 5%;
}
.user-avatar {
    width: 30px;
    height: 30px;
    margin: 24px 0 20px 30px;
}
.user-message {
    width: 70%;
    margin: 0 0 20px 0;
    padding: 24px 0px 0 20px;
    font-size: 4em;
    line-height: 1.5;
    color: #e1e0e4;
}
@media screen and (min-width: 500px) {
    .user-message {
        font-size: larger;
    }
}

.chatgpt-message-container {
    width: 100%;
    background-color: #6F7279;
    display: flex;
    flex-wrap: wrap;
    margin-left: 5%;
}
.chatgpt-avatar {
    width: 30px;
    height: 30px;
    margin: 24px 0 20px 30px;
}
.chatgpt-message {
    margin: 24px 0 30px 20px;
    color: #CDCCD0;
    font-size: 4em;
    line-height: 1.5;
    max-width: 80%;
    white-space: pre-wrap;
}
@media screen and (min-width: 500px) {
    .chatgpt-message {
        font-size: larger;
    }
}

/* 推文链接 */
.passages_wrap {
    width: 100%;
}
.passages {
    width: 60%;
    margin: 15px 0 75px 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.passage {
    position: relative;
    width: 90%;
    height: 80px;
    background-color: rgba(47, 44, 51, 0.5);
    border: solid 1px #66686e;
    border-radius: 10px;
    margin: -25px 0;
    transition: z-index 1s, width 1s, height 1s, background 1s;
    display: flex;
}

.passage_image {
    width: 60px;
    height: 60px;
    margin: 10px;
}
.passage_title {
    width: 70%;
    margin: 10px 10px 10px 0px;
    color: #ededf0;
    text-decoration: none;
    font-size: 1.1em;
}
.passage_title:hover {
    text-decoration: underline;
}

.passage:hover {
        z-index: 3;
        width: 95%;
        height: 100px;
        background: linear-gradient(rgba(185, 182, 189, 0.9), rgba(47, 44, 51, 0.9));
}

.title_wrap {
    display: inline-block;
}
.title {
    color: #ebeaed;
    font-size: large;
    white-space: nowrap;
    font-family: 'Zhimingxing', sans-serif;
    z-index: 1;
}
.magnify {
    animation: magnify 2s forwards;
    display: inline-block;
    
}
@keyframes magnify {
    to {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 7em;
        font-family: 'Zhimingxing', sans-serif;
        
    }
}
@media screen and (min-width: 500px) {
    @keyframes magnify {
        to {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 5em;
            font-family: 'Zhimingxing', sans-serif;
        }
    }
}

.cursor-container {
    width: 3%;
    height: 5%;
    position: absolute;
}

.chat-input {
    position: absolute;
    bottom: 3%;
    height: 70px;
    width: 80%;
    display: flex;
    justify-content: center;
    background-color: #6F7279;
    border-radius: 20px;
    border: 1.5px solid #8a8a8d;
}
.input-message {
    width: 70%;
    height: 9%;
    position: absolute;
    bottom: 39%; 
    left: 5%;
    color: #e3e3e7;
}
.send-button {
    position: absolute; 
    bottom: 28%; 
    left: 90%;
    height: 50%;
    width: 7%;
    background-color: #6F7279;
    border: none;
}
.send-button img {
    height: 100%;
    width: 100%;
}
.flash {
    animation: flash 1s forwards;
}
@keyframes flash {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}

/* 下滑按钮 */
.scroll {
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 25%;
    left: 93%;
    background-color: rgba(0,0,0,0);
    border: none;    
}
@media screen and (min-width: 500px) {
    .scroll {
        bottom: 10%;  
    } 
}
.scroll img {
    width: 100%;
    height: 100%;
}
.dots {
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 28%;
    left: 93%;
}
@media screen and (min-width: 500px) {
    .dots {
        bottom: 16%;
    }
}
.dot_1 {
    width: 4px;
    height: 4px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 50%;
    background-color: #6f7279;
}
.dot_2 {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #6f7279;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, 0);
}

#cursor {
    width: 5%;
    height: 50%;
    position: absolute; 
    top: -30%;
    left: 90%;
}
.cursor {
    animation: move 1s forwards;
}
@keyframes move {
    85% {
        top: 45%;
        left: 3%;
        filter: brightness(1);
    }
    88% {
        top: 45%;
        left: 3%;
        filter: brightness(0.5);
    }
    91% {
        top: 45%;
        left: 3%;
        fliter: brightness(1);
    }
    100% {
        top: 75%;
        left: 3%;
        fliter: brightness(1);
    } 
}

/* 继续提示词 */
.prompt {
    white-space: nowrap;
    background-color: rgba(66, 66, 69, 0.2);
    position: absolute;
    right: 50%;
    bottom: 20%;
    transform: translate(50%, 0);
    padding: 6px 20px 6px 20px;
    color: #a6a7a9;
    cursor: pointer;
    animation: blink infinite 2s;
}
.prompt:hover {
    animation: light forwards 1s;
}
@keyframes blink {
    50% {
        opacity: 0;
    }
}
@keyframes light {
    to {
        opacity: 1;
    }
}

/* 元素滑入 */
.slide {
    animation: slide 1s forwards;
}
@keyframes slide {
    to {
        transform: translate(0, 0);
    }
}


/* 地图 */
.map {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: #222224;
}
#area {
    width: 100%;
    text-align: center;
    font-weight: 600;
    font-size: 2em;
    color: rgba(209, 198, 227, 0.5);
}
.company {
    width: 100%;
    text-align: center;
    white-space: pre-line;
    font-size: larger;
    color: rgba(161, 152, 175, 0.5);
}
.secard {
    height: 40%;
    width: 50%;
    background-color: rgba(212, 206, 206, 0.7);;
    box-shadow: 0 0 20px rgba(219, 221, 220, 0.4);;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: secard forwards 1s;
}
@keyframes secard {
    to {
        opacity: 1;
    }
}
.secard_title {
    margin: 20px 20px 20px 20px;
    font-size: 1.5em;
    color: #174f9f;
    font-weight: 700;
}
.secard_content {
    width: 100%;
    display: flex;
}
.secard_item_title {
    margin: 10px 20px 20px 27px;
    color:rgb(28, 28, 28);
    font-weight: 600;
    font-size: 1.2em;
}
.secard_item {
    margin: 10px 20px 20px 27px;
    color: #134284;
}
.secard_png {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 20px;
    right: 20px;
}
.href {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #174f9f;
    position: absolute;
    right: 20px;
    bottom: 20px;
    text-decoration: none;
}
.href p {
    margin-top: 15px;
    text-align: center;
    color: #c1c3c7;
}
#svg-object {
    width: 100%;
    height: 100%;
    opacity: 0;
}
.card_wrap {
    overflow: hidden;
    position: absolute;
    width: 330px;
    max-height: 50vh;
    border-radius: 30px;
    border: solid 2px rgba(128, 121, 139, 0.5);
    box-shadow: 0 0 8px rgb(28, 28, 28);
    animation: showup 0.3s forwards;
}
.card {
    width: 350px;
    padding: 0 30px;
    max-height: 50vh;
    overflow-Y: scroll;
    background: radial-gradient(circle at 90% 90%, rgba(92, 86, 103, 0.3)10%, rgba(82, 74, 96, 0.3) 40%, rgba(101, 93, 118, 0.3) 60%,rgba(52, 47, 61, 0.3) 90%);
    z-index: 1;
    position: relative;
}
/* @media screen and (min-width: 500px) {
    .card {
        height: 70%;
        top: 15%; 
    } 
} */
.test {
    height: 50px;
    width: 100px;
    background-color: #a00a78;
    position: absolute;
    top: 0;
}
@keyframes showup {
    to {
        transform: translate(0, 0);
    }
}
.map_title {
    width: 70%;
    position: absolute;
    top: 30px;
    text-align: center;
    color: rgb(219, 219, 219);
    font-size: large;
}
.intermediary_fix_wrap {
    width: 100vw;
    height: 200vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #222224;
}
.intermediary_chat_container {
    width: 60%;
    height: 80%;
    background-color: #dfe2e7;
    border: solid 1px #9c9a9a;
    border-radius: 40px;
    overflow: hidden;
    box-shadow: 0 0 5px #cdcbcb ;
}

.intermediary_header {
    height: 7%;
    margin: 0;
    padding: 20px 0 0 30px;
    font-size: large;
    border-bottom: solid 2px #cdced0;
    box-shadow: 0 10 4px #838597;
}

.intermediary_chat_messages {
    width: 100%;
    height: 90%;
    background-color: #d7dde7;
    position: relative;
}

.intermediary_name {
    color:rgb(126, 125, 125);
    width: 100%;
    padding-left: 25px;
    padding-top: 3%;
    font-size: small;
    margin: 0;
}



.intermediary_message {
    white-space: pre-line;
    color: #181919;
    padding: 10px 3% 12px 3%;
    background-color: #dfe2e7;
    box-shadow: 0 0 3px #d4d3d3;
    border-radius: 10px;
    max-width: 70%;
    margin: 3% 0 0 25px;
}

.student_message_container {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.student_name {
    color:rgb(126, 125, 125);
    padding-right: 25px;
    padding-top: 3%;
    font-size: small;
    margin: 0;
}
.student_message {
    white-space: pre-line;
    color: #dce7e7;
    padding: 10px 3% 12px 3%;
    background-color: #336fd7;
    box-shadow: 0 0 3px #d4d3d3;
    border-radius: 10px;
    max-width: 70%;
    margin: 3% 25px 0 0;
}

.intermediary_message_container img {
    width: 100px;
    height: 100px;
    margin: 3% 0 0 25px;
}

.pre_slide {
    transform: translate(0, 300px);
}
.wechat_container_wrap {
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #222224;
}

.wechat_container {
    width: 70%;
    height: 100vh;
    background: linear-gradient(to bottom, #c7c5c5, transparent);
    border-radius: 40px 40px 0 0;
}
.wechat_container_down {
    width: 70%;
    height: 100vh;
    background: linear-gradient(to top, #c7c5c5, transparent);
    border-radius: 0 0 40px 40px;
    padding-top: 100px;
}
.wechat_container_wrap_z {
    position: relative;
    z-index: 4;
}

.wechat_head {
    height: 60px;
    width: 100%;
    border-bottom: solid 2px #a7a7a9;
    display: grid;
    grid-template-columns: 50px auto 40px;
}
.wechat_head img:first-child {
    height: 50px;
    width: 50px;
    margin-top: 10px;
}
#other {
    height: 30px;
    width: 30px;
    margin-right: 10px;
    margin-top: 20px;
}
.wechat_head p {
    text-align: center;
}

.wechat_messages {
    width: 100%;
}
.in_wemessage_container {
    display: flex;
}

.in_wemessage_container img {
    width: 40px;
    height: 40px;
    margin: 20px 20px 20px 30px;
}
.in_wemessage_container p {
    background-color: #dedee1;
    padding: 10px ;
    margin: 20px 30px 20px 0;
    border-radius: 5px;
    box-shadow:  1px 1px 2px  #858888;
}

.stu_wemessage_container {
    width: 100%;
    display: flex;
    justify-content: end;
}

.stu_wemessage_container img {
    width: 40px;
    height: 40px;
    margin: 20px 30px 20px 20px;
}
.stu_wemessage_container p {
    background-color: #dedee1;
    padding: 10px;
    margin: 20px 0 20px 30px;
    border-radius: 5px;
    box-shadow:  1px 1px 2px  #858888;
}

.successful_cases {
    width: 100vw;
}
.unsuccessful_cases {
    width: 100vw;
    background-color: #222224;
    z-index: 20;
    position: relative;
}
.unsuccessful_title {
    font-size: larger;
    color: #d2cece;
    font-weight: 600;
    margin-left: 50px;
}
.case {
    background-color: #222224;
    z-index: 1;
    position: relative;
}
.case_2 {
    z-index: 2;
    position: relative;
}
.cases_title_wrap {
    height: 100vh;
    width: 20%; 
}
.cases_title {
    height: 100vh;
    width: 100%;
    font-size: larger;
    padding: 40px 0 0 30px;
    color: #d2cece;
    font-weight: 600;
    margin: 0;
}

.cases_paraghraph {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20% 0 20%;
    font-size: large;
    color: #b7b7c4;
    opacity: 0;
}


.blogger {
    white-space: pre-wrap;
    width: 80%;
    color: #e7e9ec;
    font-size: 1.2em;
    text-indent: 2em;
    margin: 10px 20px; 
}

.blogger_index {
    z-index: 10;
}

.phone {
    width: 150px;
    height: 350px;
    position: absolute;
    right: 50%;
    bottom: 0;
    transform: translate(50%, 0);
    animation: phone_showup 1s forwards;
}

@keyframes phone_showup {
    from {
        bottom: 0;
        right: 0;
        width: 0;
        height: 0;
        transform: translate(0, 0);
    }
}
.background {
    width: 100%;
    background-color: #222224;
}
#reature_background {
    width: 100%;
    height: 80%;
}


.pure_student {
    width: 600px;
    height: 600px;
    position: absolute;
    top: 20px;
    opacity: 0.5;
    transition: opacity 1s, height 1s, width 1s ;
}
.pure_student:first-child {
    top: 400px;
    left: 10px;
}
.reality_virture {
    position: relative;
    width: 100vw;
    height: 5500px;
    background-color: #222224;
    z-index: 11;
}
.reality_virture img:nth-child(2) {
    top: 700px;
    left: 100px;
}
.pure_student_animation {
    opacity: 1;
    height: 700px;
    width: 700px;
    z-index: 12;
}
.reality_virture img:nth-child(3) {
    top: 1300px;
    right: 70px;
    
}

.reality_virture img:nth-child(4) {
    top: 1900px;
    left: 100px;
}

.reality_virture img:nth-child(5) {
    top: 2700px;
    left: 300px;
}
.reality_virture img:nth-child(6) {
    top: 3500px;
    right: 70px;
}
.reality_virture img:nth-child(7) {
    top: 4200px;
    left: 100px;
}
.reality_virture img:nth-child(8) {
    top: 4700px;
    right: 70px;
}
.reality_virture img:nth-child(9) {
    top: 3200px;
    left: 700px;
    
}
.word {
    height: 120px;
    width: 240px;
    position: absolute;
}

