* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #222224;
}


/* 模糊背景 */
.blur_wrap {
    width: 100%;
    height: 100%;
}
.blur {
    filter: blur(20px);
}


/* 专业选择 */
#selector {
    width: 50%;
    position: absolute;
    top: 0;
    background-color: rgba(30, 31, 36, 0.6);
    /* background: radial-gradient(circle, rgba(245, 108, 126, 0.2) 30%, rgba(202, 90, 105, 0.3) 60%, rgba(103, 42, 50, 0.4) 80%, rgba(107, 67, 74, 0.6) 90%); */
    border-radius: 0 0 30px 30px;
    box-shadow: 0 0 5px #939497;
    z-index: 2;
}
#selector p {
    margin-left: 10px;
    margin-top: 0;
    padding-top: 10%;
    color: #bbbdc5;
    font-size: larger;
}
#button_wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 20%;
    margin-bottom: 20%;
}
.selector_button {
    height: 50px;
    width: 40%;
    background-color: #a1aaa9;
    color: #d3d4d8;
    font-size: medium;
    border: none;
    border-radius: 20px;
}
 
/* 导航 */
#hamnav {
    width: 100%;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: 1fr 12fr 1fr;
    /* border: solid 1px; */
    /* border-image: linear-gradient(to left, #2d2a2a, #898b89); 
    border-image-slice: 0 0 100 0;*/
}
.icons{
    margin-top: 10px;
    width: 60px;
    height: 60px;
    transform: translate(0, -50px);
}
@media screen and (min-width: 500px) {
    .icons {
        width: 30px;
        height: 30px;  
    } 
}
.down {
    animation: down 1s forwards;
}
@keyframes down {
    to {
        transform: translate(0, 0); 
    }
}
#icon_1 {
    margin-left: 10%;
}
#icon_2 {
    margin-left: 96%;
}
#icon_3 {
    margin-left: 15%;
}

/* gpt页面 */
.chat-container {
    height: 80vh;
    width: 80vw;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*background: linear-gradient(rgba(255, 255, 255, 0.133), transparent);*/
    background-color: #6F7279;
    background: linear-gradient(to right,#6F7279, #c4c0c1 );
    border: solid 1px #8a8a8d;
    border-radius: 35px;
    overflow: hidden;
    box-shadow: 0px 0px 5px rgb(151, 149, 149);
    opacity: 0.9;
    margin: 150px 10vw 0 10vw;
}
@media screen and (min-width: 400px) {
    .chat-container {
        margin: 50px 10vw 0 10vw;
    }
}

.chat-header {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right,#6F7279, #c4c0c1 );
    font-size: 4em;
    color: #D4D1D3;
    border-bottom: #545458 solid 1.5px;
}

@media screen and (min-width: 500px) {
    .chat-header {
        font-size: 1em;
    }
}


/* 渲染对话框 */
.chat-messages {
    width: 100%;
    height: 70%;
}

.user-message-container {
    width: 100%;
    border-bottom: solid 1.5px #9e9ea0;
    display: flex;
}
.user-avatar {
    width: 30px;
    height: 30px;
    margin: 24px 0 20px 30px;
}
.user-message {
    width: 70%;
    margin: 0 0 20px 0;
    padding: 24px 0px 0 20px;
    font-size: 4em;
    line-height: 1.5;
    color: #e1e0e4;
}
@media screen and (min-width: 500px) {
    .user-message {
        font-size: larger;
    }
}

.chatgpt-message-container {
    width: 100%;
    background-color: #6F7279;
    display: flex;
}
.chatgpt-avatar {
    width: 30px;
    height: 30px;
    margin: 24px 0 20px 30px;
}
.chatgpt-message {
    margin: 24px 0 30px 20px;
    color: #CDCCD0;
    font-size: 4em;
    line-height: 1.5;
}
@media screen and (min-width: 500px) {
    .chatgpt-message {
        font-size: larger;
    }
}

.title_wrap {
    display: inline-block;
}
.title {
    color: #CDCCD0;
    font-size: large;
    white-space: nowrap;
}
.magnify {
    animation: magnify 2s forwards;
    display: inline-block;
}
@keyframes magnify {
    to {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 7em;
    }
}
@media screen and (min-width: 500px) {
    @keyframes magnify {
        to {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 5em;
        }
    }
}

.cursor-container {
    width: 3%;
    height: 5%;
    position: absolute;
}

.chat-input {
    position: absolute;
    bottom: 3%;
    height: 70px;
    width: 80%;
    display: flex;
    justify-content: center;
    background-color: #6F7279;
    border-radius: 20px;
    border: 1.5px solid #8a8a8d;
}
.input-message {
    width: 70%;
    height: 9%;
    position: absolute;
    bottom: 35%; 
    left: 5%;
    color: #e3e3e7;
}
.send-button {
    position: absolute; 
    bottom: 28%; 
    left: 90%;
    height: 50%;
    width: 7%;
    background-color: #6F7279;
    border: none;
}
.send-button img {
    height: 100%;
    width: 100%;
}
.flash {
    animation: flash 1s forwards;
}
@keyframes flash {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}

/* 下滑按钮 */
.scroll {
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 25%;
    left: 93%;
    background-color: rgba(0,0,0,0);
    border: none;    
}
@media screen and (min-width: 500px) {
    .scroll {
        bottom: 10%;  
    } 
}
.scroll img {
    width: 100%;
    height: 100%;
}
.dots {
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 28%;
    left: 93%;
}
@media screen and (min-width: 500px) {
    .dots {
        bottom: 16%;
    }
}
.dot_1 {
    width: 4px;
    height: 4px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 50%;
    background-color: #6f7279;
}
.dot_2 {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #6f7279;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, 0);
}

#cursor {
    width: 5%;
    height: 50%;
    position: absolute; 
    top: -30%;
    left: 90%;
}
.cursor {
    animation: move 1s forwards;
}
@keyframes move {
    85% {
        top: 45%;
        left: 3%;
        filter: brightness(1);
    }
    88% {
        top: 45%;
        left: 3%;
        filter: brightness(0.5);
    }
    91% {
        top: 45%;
        left: 3%;
        fliter: brightness(1);
    }
    100% {
        top: 75%;
        left: 3%;
        fliter: brightness(1);
    } 
}

/* 继续提示词 */
.prompt {
    white-space: nowrap;
    background-color: rgba(66, 66, 69, 0.2);
    position: absolute;
    right: 50%;
    bottom: 20%;
    transform: translate(50%, 0);
    padding: 6px 20px 6px 20px;
    color: #a6a7a9;
    animation: blink infinite 2s;
    cursor: pointer;
}
@keyframes blink {
    50% {
        opacity: 0;
    }
}

/* 元素滑入 */
.slide {
    animation: slide 1s forwards;
}
@keyframes slide {
    to {
        transform: translate(0, 0);
    }
}


/* 地图 */
.map_wrap {
    width: 100vw;
    height: 100vh;
    background-color: #222224;
}
.map {
    width: 100vw;
    height: 100vh;
    position: relative;
}
#area {
    width: 100%;
    text-align: center;
    font-weight: 600;
    font-size: 2em;
    color: rgba(209, 198, 227, 0.5);
}
#company {
    width: 100%;
    text-align: center;
    white-space: pre-line;
    font-size: larger;
    color: rgba(161, 152, 175, 0.5);
}

#svg-object {
    width: 100%;
    height: 100%;
}

.card {
    height: 50%;
    width: 30%;
    position: absolute;
    top: 25%;
    right: 5%;
    background-color: rgba(82, 74, 96, 0.5);
    border-radius: 30px;
    border: solid 2px rgba(118, 106, 137, 0.5);
    box-shadow: 0 0 8px rgb(28, 28, 28);
    transform: translate(0, 50px);
    animation: showup 0.3s forwards;
    background: radial-gradient(circle at 90% 90%, rgba(92, 86, 103, 0.5)10%, rgba(82, 74, 96, 0.5) 40%, rgba(101, 93, 118, 0.5) 60%,rgba(52, 47, 61, 0.5) 90%);
}
@media screen and (min-width: 500px) {
    .card {
        height: 70%;
        top: 15%; 
    } 
}
.test {
    height: 50px;
    width: 100px;
    background-color: #a00a78;
    position: absolute;
    top: 0;
}
@keyframes showup {
    to {
        transform: translate(0, 0);
    }
}

.intermediary_chat_container {
    width: 60%;
    height: 80%;
    background-color: #dfe2e7;
    border: solid 1px #9c9a9a;
    box-shadow: 0 0 5px #cdcbcb ;
}

.intermediary_header {
    height: 10%;
    margin: 0;
    padding: 10px 0 0 20px;
    font-size: large;
    border-bottom: solid 2px #cdced0;
    box-shadow: 0 10 4px #838597;
}

.intermediary_chat_messages {
    width: 100%;
    height: 90%;
    background-color: #d7dde7;
}

.intermediary_name {
    color:rgb(126, 125, 125);
    width: 100%;
    padding-left: 25px;
    padding-top: 3%;
    font-size: small;
    margin: 0;
}

.intermediary_message_container {
    width: 100%;
}

.intermediary_message {
    white-space: pre-line;
    color: #181919;
    padding: 10px 3% 12px 3%;
    background-color: #dfe2e7;
    box-shadow: 0 0 3px #d4d3d3;
    border-radius: 10px;
    max-width: 70%;
    margin: 3% 0 0 25px;
}

.student_message_container {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.student_name {
    color:rgb(126, 125, 125);
    padding-right: 25px;
    padding-top: 3%;
    font-size: small;
    margin: 0;
}
.student_message {
    white-space: pre-line;
    color: #dce7e7;
    padding: 10px 3% 12px 3%;
    background-color: #336fd7;
    box-shadow: 0 0 3px #d4d3d3;
    border-radius: 10px;
    max-width: 70%;
    margin: 3% 25px 0 0;
}

.pre_slide {
    transform: translate(0, 300px);
}

.reality_virture {
    width: 100vw;
    height: 297vh;
    position: relative;
}

#reature_background {
    width: 100%;
    height: 100%;
}

#reality_charactor {
    width: 100px;
    height: 100px;
    position: absolute;
    right: calc(100vw / 3);
    top: 100vh;
    transform: translate(50%, -100%);
    z-index: 20;
}